{% extends 'Educación_dos/base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <div class="row center-content-md-center">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 100%;margin: 5px 5px; background: linear-gradient(-98deg, #ffffff, #cad8ff);">

                <img src="{% static 'Educación_dos/img/me.jpeg' %}" class="mx-auto" style="width: 30%; " alt="Card image cap">
                <div class="card-body" style="text-align: center;">
    
                    <h7 class="card-title" style="font-family: Arial rgb(3, 3, 255); font-size:25px; color:rgb(161, 159, 233)">Valentina Ragaglia</h7>
                    <div><p></p></div>
                    <hr style="height: 2px; background-color: rgb(255, 255, 255);">
                    <div><p></p></div>
                    <p class="card-text" style="font-family: Lucida Sans Unicode; font-size:14px; text-align:center; color:black">Soy estudiante de Licenciatura de Economía y amante de la pastelería. Tengo 21 años, vivo en Córdoba, Argentina.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}